<div class="header">
  <h1 class="page-header">
    Pedidos
  </h1>
  <ol class="breadcrumb">
    <li><a href="">Pedidos</a></li>
    <li><%= link_to "Index", orders_path %></li>
    <li class="active">Editar</li>
  </ol>
</div>

<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <p>

        <%= render 'form', order: @order %><br>

        <%= link_to 'Volver', orders_path %>
      </p>

      <div class="clearBoth"><br/></div>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>