<div class="header">
  <h1 class="page-header">
    Pedidos
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Pedidos</a></li>
    <li class="active">Nuevo</li>
  </ol>
</div>

<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">
          <p>
          <h1>Nuevo Pedido</h1>

          <%= render 'form', order: @order %><br>

          <%= link_to 'Back', orders_path %>
          </p>

          <div class="clearBoth"><br/></div>

        </div>
      </div>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>