<h1>Pedidos</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Pedidos</a></li>
        <li class="breadcrumb-item"><%= link_to "Index", orders_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
  </ol>
</nav>
</div>
<hr>

<div class="row">
  <div class="col-12">
      <%= render 'form', order: @order %><br>

      <%= link_to 'Back', orders_path %>
  </div>
</div>