<div class="header">
  <h1 class="page-header">
    Cotizaciones
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Cotizaciones</a></li>
    <li class="active">Editar</li>
  </ol>
</div>

<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content">
          <p>
            <h3>Editar Cotizacion</h3><br>
            <%= render 'form', quotation: @quotation %><br>
            <%= link_to 'Volver', quotations_path %>
          </p>
          <div class="clearBoth"><br/></div>

        </div>
      </div>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>
