<div class="header"> 
  <h1 class="page-header">
    Auspiciantes
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Auspiciantes</a></li>
    <li class="active">Editar</li>
  </ol> 
</div>

<div id="page-inner"> 
  <div class="row">
    <div class="col-md-12">
      <p>
        <%= render 'form', sponsor: @sponsor %><br>

        <%= link_to 'Volver', sponsors_path %>
      </p>

      <div class="clearBoth"><br/></div>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>