<div class="header"> 
  <h1 class="page-header">
    Auspiciantes
  </h1>
  <ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Auspiciantes</a></li>
    <li class="active">Nuevo</li>
  </ol> 
</div>

<div id="page-inner"> 
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-content"> 
          <p>
            <h3>Nuevo Auspiciante</h3><br>
            
            <%= render 'form', sponsor: @sponsor %>

            <%= link_to 'Volver', sponsors_path %>
          </p>

          <div class="clearBoth"><br/></div>

        </div>
      </div>
    </div>
    <!-- /. PAGE INNER  -->
  </div>
  <!-- /. PAGE WRAPPER  -->
</div>