<h1>Auspiciantes - Papelera</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Auspiciantes</a></li>
    <li class="breadcrumb-item"><a href="#">Index</a></li>
    <li class="breadcrumb-item active" aria-current="page">Trash</li>
  </ol>
</nav>
</div>
<hr>

<div id="page-inner">
  <div id="list_sponsors">
    <%= render 'list_sponsors' %>
  </div>
</div>