<div class="mr-3 form-inline">
  <%= search_form_for q, remote: true do |f| %>
    <%= f.search_field :name_cont, class: 'form-control mr-sm-2', autofocus: true %>

    <%= f.submit class: 'btn btn-outline-success my-2 my-sm-0' %>
  <% end %>
</div>