<h1>Clientes - Papelera</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Clientes</a></li>
    <li class="breadcrumb-item"><a href="#">Index</a></li>
    <li class="breadcrumb-item active" aria-current="page">Trash</li>
  </ol>
</nav>
</div>
<hr>
  <div id="list-clients">
    <%= render 'list_clients', clients: @clients%>
  </div>
</div>