<h1>Auspiciantes</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Auspiciantes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
</div>
<hr>

<div id="page-inner">

  <div class="row mb-2">
    <!-- New sponsor -->
    <div class="col">
      <%= link_to 'Nuevo', new_sponsor_path, class: 'btn btn-primary' %>
    </div>
    <!-- Search -->
    <%= link_to(raw("<i class='fas fa-trash fa-lg'></i>"), sponsors_trash_url, class: "btn btn-secondary mr-3") %>
    <%= render 'partials/search_by_name', q: @q %>
  </div>

  <div id="list_sponsors">
    <%= render 'list_sponsors' %>
  </div>
</div>