<h1>Auspiciantes</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Auspiciantes</a></li>
    <li class="breadcrumb-item"><%= link_to "Index", sponsors_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
  </ol>
</nav>
</div>
<hr>

<div class="row">
  <div class="col-12">
    <%= render 'form', sponsor: @sponsor %><br>
  </div>
</div>