<h1>Productos</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Productos</a></li>
        <li class="breadcrumb-item"><%= link_to "Index", products_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
  </ol>
</nav>
</div>
<hr>

<div class="row">
  <div class="col-12">
    <%= render 'form', product: @product %><br>

    <%= link_to 'Volver', products_path %>
  </div>
</div>