<h1>Productos - Papelera </h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Productos</a></li>
    <li class="breadcrumb-item"><a href="#">Index</a></li>
    <li class="breadcrumb-item active" aria-current="page">Trash</li>
  </ol>
</nav>
</div>
<hr>

<div id="list_products">
  <%= render 'list_products' %>
</div>
</div>