/* Color palette */
$color-primary: #080813;
$color-secondary:#eeeeee;
$color-tertiary: #994848;
$color-quaternary: #ffffff;

body {
  font-family: 'Muli', sans-serif;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: $color-secondary;
  border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000000 !important;

  &:hover {
    color: #695757 !important;
  }

}

.card {
  text-align: center;
  display: inline-block;
  margin-bottom: 15px;
  border: 1px solid #5f7c9a;
}

.bg-light, .sidebar-heading {
  background-color: $color-secondary !important;
  height: 80px;
}

#page-content-wrapper {
  width: 100%;
}

#login {
  font-family: 'Raleway', sans-serif;
}

#sidebar-wrapper {
  color: $color-tertiary;
  min-height: 100vh;
  background-color: $color-primary;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;

  .sidebar-heading {
    text-align: center;
    font-size: 20px !important;
    padding: 10px;
    height: 120px;
    font-family: 'Raleway', sans-serif;
    background-color: $color-primary !important;
    color: $color-quaternary;
    border-bottom: 1px solid #ffffff;
  }

  .list-group {
    text-align: center;
    
    .list-group-item {
      background-color: $color-primary;
      color: $color-quaternary;
      border: none;
      font-size: 14px;
      padding: 7px;

      &:hover {
        background-color: $color-tertiary;
      }
    }
  }
}

footer {
  background-color: $color-secondary;
}