/* Color palette */
$color-primary: #5a6d80;
$color-secondary:#4673a7; 
$color-tertiary: #994848;
$color-quaternary: #ffffff;

body {
  font-family: 'Muli', sans-serif;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  background-color: #d8d8d8;;
  border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: $color-quaternary !important;

  &:hover {
    color: #e2dede !important;
  }

}

p {
  margin-top: 1rem;
}

.login {
  padding: .10rem 1.25rem;
  font-size: 15px;
}

.alert {
  padding: .75rem .25rem;
}

.card {
  display: inline-block;
  margin-bottom: 15px;
  border: 1px solid #5f7c9a;
}

.card-body {
  padding: 5px;

    .fas {
      font-size: 30px;
      color: $color-quaternary;
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }

    }
}

.bg-light {
  background-color: $color-secondary !important;
  height: 65px;
  box-shadow: 11px -12px 46px 2px rgba(0,0,0,0.51);
}

#page-content-wrapper {
  width: 100%;
}

#login {
  font-family: 'Raleway', sans-serif;
}

#sidebar-wrapper {
  color: $color-tertiary;
  border-right: 1px solid #d1d1d1 !important;
  min-height: 100vh;
  background-color: $color-primary;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  box-shadow: -37px 10px 91px 0px rgba(0,0,0,0.75);

  .sidebar-heading {
    text-align: center;
    font-size: 20px !important;
    padding: 10px;
    height: 120px;
    font-family: 'Raleway', sans-serif;
    background-color: $color-primary !important;
    color: $color-quaternary;
    border-bottom: 1px solid #d1d1d1;
  }

  .list-group {
    text-align: center;
    
    .list-group-item {
      background-color: $color-primary;
      color: $color-quaternary;
      border: none;
      font-size: 14px;
      padding: 7px;

      &:hover {
        background-color: $color-quaternary;
        color: #485e74;
      }
    }
  }
}

footer {
  background-color: #465666;
  color: $color-quaternary;
  height: 50px;
}