<h1>Clientes</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Clientes</a></li>
    <li class="breadcrumb-item"><%= link_to "Index", clients_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Editar</li>
  </ol>
</nav>
</div>
<hr>
<div id="page-inner">
  <div class="row">
    <div class="col-md-12">
     <p>
       <%= render 'form', client: @client %><br>
     </p>

     <div class="clearBoth"><br/></div>

   </div>
   <!-- /. PAGE INNER  -->
 </div>
 <!-- /. PAGE WRAPPER  -->
</div>