<div class="header"> 
  <h1 class="page-header">
    Clientes
  </h1>
  <ol class="breadcrumb">
    <li><a href="">Clientes</a></li>
    <li><%= link_to "Index", clients_path %></li>
    <li class="active">Editar</li>
  </ol> 
</div>

<div id="page-inner"> 
  <div class="row">
    <div class="col-md-12">
      <p>
        
       <%= render 'form', client: @client %><br>

       <%= link_to 'Volver', clients_path %>

     </p>

     <div class="clearBoth"><br/></div>

   </div>
   <!-- /. PAGE INNER  -->
 </div>
 <!-- /. PAGE WRAPPER  -->
</div>