<h1>Clientes</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Clientes</a></li>
    <li class="breadcrumb-item"><%= link_to "Index", clients_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Nuevo</li>
  </ol>
</nav>
</div>
<hr>

<div class="row">
  <div class="col-12">
       <%= render 'form', client: @client %><br>
  </div>
</div>