<h1>Facturas</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Facturas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
</div>
<hr>

<div class="row">
  <% if @invoices.empty? %>
    <div class="col-md-4 col-sm-5">
      <p class="alert alert-warning">No ha encontrado ningúna factura</p>
    </div>
  <% else %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Cliente</th>
          <th>Fecha</th>
          <th>Total</th>
        </tr>
        </thead>
        <tbody>
    <% @invoices.each do |invoice| %>
        <tr>
          <td><%= "#{invoice.recipient.first_name} #{invoice.recipient.last_name}" %></td>
          <td><%= I18n.l(invoice.created_at, format: '%d de %B de %Y').upcase %></td>
          <% total = 0 %>
          <% invoice.line_items.each do |item| %>
            <% total += item.quantity * item.net_amount %>
          <% end %>
          <td>GS. <%= number_with_delimiter(total, :delimiter => ',') %></td>
          <td><a class="fas fa-eye mt-2" href="/invoices/<%=invoice.id%>"></a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%end%>
</div>