<h1>Facturas</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Facturas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
</div>
<hr>

<div class="row">
  <% if @invoices.empty? %>
    <div class="col-md-4 col-sm-5">
      <p class="alert alert-warning">No ha encontrado ningúna factura</p>
    </div>
  <% else %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Client</th>
          <th>Fecha</th>
          <th>Moneda</th>
        </tr>
        </thead>
        <tbody>
    <% @invoices.each do |invoice| %>
        <tr>
          <td><%= invoice.recipient.first_name %></td>
          <td><%= invoice.created_at %></td>
          <td><%= invoice.currency %></td>
          <td><a class="fas fa-eye mt-2" href="/invoices/<%=invoice.id%>"></a></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <%end%>
</div>