<div class="container pagination justify-content-center mt-2 mb-5" >
  <%= paginate paginate, theme: 'twitter-bootstrap-4',
               pagination_class: "pagination-sm",
               nav_class: "d-inline-b" %>
</div>