<h1>Productos</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Productos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
</div>
<hr>

  <div class="row mb-2">
    <!-- New product -->
    <div class="col">
      <%= link_to 'Nuevo', new_product_path, class: 'btn btn-primary' %>
    </div>
    <!-- Search -->
    <%= link_to(raw("<i class='fas fa-trash fa-lg'></i>"), products_trash_url, class: "btn btn-secondary mr-3") %>
    <%= render 'partials/search_by_name', q: @q %>
  </div>
    <div id="list_products">
      <%= render 'list_products' %>
    </div>
</div>