<h1>Insumos</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Insumos</a></li>
    <li class="breadcrumb-item"><%= link_to "Index", supplies_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Editar</li>
  </ol>
</nav>
</div>
<hr>


<div class="row">
  <div class="col-12">
    <%= render 'form', supply: @supply %><br>
  </div>
</div>