<h1>Insumos</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Insumos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Index</li>
  </ol>
</nav>
</div>
<hr>

<div class="row mb-2">
  <!-- New supply -->
  <div class="col">
    <%= link_to 'Nuevo', new_supply_path, class: 'btn btn-primary' %>
  </div>
  <!-- Search -->
  <%= render 'partials/search_by_name', q: @q %>
</div>
  <div id="list_supplies">
    <%= render 'list_supplies' %>
  </div>
  <!-- Pagination -->
  <%= render 'partials/pagination', paginate: @supplies%>
</div>