<h1>Insumos - Papelera</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Insumos</a></li>
    <li class="breadcrumb-item"><a href="#">Index</a></li>
    <li class="breadcrumb-item active" aria-current="page">Trash</li>
  </ol>
</nav>
</div>
<hr>

<div id="list_supplies">
  <%= render 'list_supplies' %>
</div>

</div>